.bodyctn {
    position: relative;
    width: 100vw;
    z-index: 99
}

.bodyctn>div {
    width: 100%
}

.searchCtn {
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    background: rgba(179, 21, 21, 0.02);
    z-index: 99;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;

}

.MuiInputBase-root {
    caret-color: white !important;
}

.root_input>div {
    color: aliceblue !important
}

.si {
    color: aliceblue;
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: #fa6e9d;
    padding: 18px;
    position: relative;
    right: 2px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    /* border-left: 1px solid #ffffff2e; */
}

.input {
    width: 360px;
}

.input [class*='MuiInputBase-root'] {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inp {
    width: 100%;
    color: aliceblue !important
}

.titleTable {
    display: flex;
    width: 100%;
    padding: 40px 40px 0px 40px;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contentTable {
    line-height: normal;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(211, 223, 223);
}

.hide {
    display: none !important;
}

.hideLoadMore {
    display: none;
}

.notfound {
    color: white;
    text-align: center;
    width: 100%
}

.tableCtn {
    display: flex;
    padding: 20px 40px 40px 40px;
    position: relative;
    z-index: 99;
    min-height: 488px;
    justify-content: center;
}

.productCtn {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}

.product {
    display: flex;
    animation: scale .5 linear;
}